@import url(bootstrap-grid.css);
@import url(font-awesome.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 93.75%; }

body {
  background: #fff;
  color: #4A4A4A;
  font-family: 'Helvetica', sans-serif;
  line-height: 1.35;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0; }

h1, h2 {
  line-height: 1.1; }

a {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  color: #4A90E2;
  text-decoration: none;
  cursor: pointer; }

p {
  margin: 0; }

form {
  margin: 0; }

label {
  display: block;
  margin-bottom: 0.25rem; }

input {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em; }
  input:hover {
    cursor: pointer; }

input[type=text] {
  border: 1px solid #C5C5C5;
  display: block;
  padding: .75rem;
  width: 100%; }
  input[type=text]::-webkit-input-placeholder, input[type=text]::-moz-placeholder, input[type=text]:-ms-input-placeholder, input[type=text]:input-placeholder {
    color: #999; }

input[type=submit] {
  border: 0;
  display: inline-block; }

ul, ol, li {
  margin: 0;
  padding: 0; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin-left: auto;
  margin-right: auto; }

.relative {
  position: relative; }

.paxxl {
  padding: 6rem; }

.maxxl {
  margin: 6rem; }

.paxl {
  padding: 4rem; }

.maxl {
  margin: 4rem; }

.pal {
  padding: 2rem; }

.mal {
  margin: 2rem; }

.pam {
  padding: 1.5rem; }

.mam {
  margin: 1.5rem; }

.pad {
  padding: 1rem; }

.mad {
  margin: 1rem; }

.pas {
  padding: 0.5rem; }

.mas {
  margin: 0.5rem; }

.paxs {
  padding: 0.25rem; }

.maxs {
  margin: 0.25rem; }

.ptxxl {
  padding-top: 6rem; }

.mtxxl {
  margin-top: 6rem; }

.ptxl {
  padding-top: 4rem; }

.mtxl {
  margin-top: 4rem; }

.ptl {
  padding-top: 2rem; }

.mtl {
  margin-top: 2rem; }

.ptm {
  padding-top: 1.5rem; }

.mtm {
  margin-top: 1.5rem; }

.ptd {
  padding-top: 1rem; }

.mtd {
  margin-top: 1rem; }

.pts {
  padding-top: 0.5rem; }

.mts {
  margin-top: 0.5rem; }

.ptxs {
  padding-top: 0.25rem; }

.mtxs {
  margin-top: 0.25rem; }

.prxxl {
  padding-right: 6rem; }

.mrxxl {
  margin-right: 6rem; }

.prxl {
  padding-right: 4rem; }

.mrxl {
  margin-right: 4rem; }

.prl {
  padding-right: 2rem; }

.mrl {
  margin-right: 2rem; }

.prm {
  padding-right: 1.5rem; }

.mrm {
  margin-right: 1.5rem; }

.prd {
  padding-right: 1rem; }

.mrd {
  margin-right: 1rem; }

.prs {
  padding-right: 0.5rem; }

.mrs {
  margin-right: 0.5rem; }

.prxs {
  padding-right: 0.25rem; }

.mrxs {
  margin-right: 0.25rem; }

.pbxxl {
  padding-bottom: 6rem; }

.mbxxl {
  margin-bottom: 6rem; }

.pbxl {
  padding-bottom: 4rem; }

.mbxl {
  margin-bottom: 4rem; }

.pbl {
  padding-bottom: 2rem; }

.mbl {
  margin-bottom: 2rem; }

.pbm {
  padding-bottom: 1.5rem; }

.mbm {
  margin-bottom: 1.5rem; }

.pbd {
  padding-bottom: 1rem; }

.mbd {
  margin-bottom: 1rem; }

.pbs {
  padding-bottom: 0.5rem; }

.mbs {
  margin-bottom: 0.5rem; }

.pbxs {
  padding-bottom: 0.25rem; }

.mbxs {
  margin-bottom: 0.25rem; }

.plxxl {
  padding-left: 6rem; }

.mlxxl {
  margin-left: 6rem; }

.plxl {
  padding-left: 4rem; }

.mlxl {
  margin-left: 4rem; }

.pll {
  padding-left: 2rem; }

.mll {
  margin-left: 2rem; }

.plm {
  padding-left: 1.5rem; }

.mlm {
  margin-left: 1.5rem; }

.pld {
  padding-left: 1rem; }

.mld {
  margin-left: 1rem; }

.pls {
  padding-left: 0.5rem; }

.mls {
  margin-left: 0.5rem; }

.plxs {
  padding-left: 0.25rem; }

.mlxs {
  margin-left: 0.25rem; }

.pvxxl {
  padding-bottom: 6rem;
  padding-top: 6rem; }

.mvxxl {
  margin-bottom: 6rem;
  margin-top: 6rem; }

.pvxl {
  padding-bottom: 4rem;
  padding-top: 4rem; }

.mvxl {
  margin-bottom: 4rem;
  margin-top: 4rem; }

.pvl {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.mvl {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.pvm {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

.mvm {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

.pvd {
  padding-bottom: 1rem;
  padding-top: 1rem; }

.mvd {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.pvs {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

.mvs {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

.pvxs {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem; }

.mvxs {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem; }

.phxxl {
  padding-left: 6rem;
  padding-right: 6rem; }

.mhxxl {
  margin-left: 6rem;
  margin-right: 6rem; }

.phxl {
  padding-left: 4rem;
  padding-right: 4rem; }

.mhxl {
  margin-left: 4rem;
  margin-right: 4rem; }

.phl {
  padding-left: 2rem;
  padding-right: 2rem; }

.mhl {
  margin-left: 2rem;
  margin-right: 2rem; }

.phm {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.mhm {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.phd {
  padding-left: 1rem;
  padding-right: 1rem; }

.mhd {
  margin-left: 1rem;
  margin-right: 1rem; }

.phs {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.mhs {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.phxs {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.mhxs {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.bam {
  border: 2px solid #C5C5C5; }

.bad {
  border: 1px solid #C5C5C5; }

.btm {
  border-top: 2px solid #C5C5C5; }

.btd {
  border-top: 1px solid #C5C5C5; }

.brm {
  border-right: 2px solid #C5C5C5; }

.brd {
  border-right: 1px solid #C5C5C5; }

.bbm {
  border-bottom: 2px solid #C5C5C5; }

.bbd {
  border-bottom: 1px solid #C5C5C5; }

.blm {
  border-left: 2px solid #C5C5C5; }

.bld {
  border-left: 1px solid #C5C5C5; }

.bvm {
  border-bottom: 2px;
  border-top: 2px; }

.bvd {
  border-bottom: 1px;
  border-top: 1px; }

.bhm {
  border-left: 2px;
  border-right: 2px; }

.bhd {
  border-left: 1px;
  border-right: 1px; }

.marketing {
  background: url(../images/bg-animals.jpg) center top repeat;
  padding: 2rem 0 4rem; }

.bg-light {
  background-color: #fff; }

.logo-large {
  background: url(../images/logo-large.png) center top no-repeat;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 130px;
  width: 135px; }

.btn-twitter {
  background: url(../images/btn-twitter.png) center top no-repeat;
  display: block;
  height: 41px;
  margin: 1.5rem auto 0;
  overflow: hidden;
  padding-top: 195px;
  width: 195px; }

.header {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px #ccc;
          box-shadow: 0 1px 3px #ccc;
  min-height: 64px;
  position: relative;
  z-index: 9999; }

.logo-small {
  background: url(../images/logo-small.png) center top no-repeat;
  height: 81px;
  left: 15px;
  overflow: hidden;
  padding-top: 81px;
  position: absolute;
  top: 0;
  width: 77px; }

.user-profile {
  border-left: 1px solid #C5C5C5;
  font-size: 24px;
  margin-left: 1rem;
  padding-left: .75rem; }
  .user-profile:hover {
    color: #14457f; }

.avatar {
  border: 1px solid #C5C5C5;
  border-radius: 100%;
  display: block;
  height: 35px;
  overflow: hidden;
  width: 35px; }
  .avatar img {
    width: 100%; }

.alert {
  color: red;
  position: absolute;
  top: -2px;
  right: -7px;
  font-size: 11px; }

.avatar-large {
  border: 1px solid #C5C5C5;
  border-radius: 100%;
  display: block;
  height: 128px;
  overflow: hidden;
  width: 128px; }

.btn-primary {
  background-color: #FF5C5B;
  border-radius: 3px;
  border: 0;
  color: #fff;
  margin: 0;
  padding: 0.5rem 1.5rem; }
  .btn-primary:hover {
    background-color: #ff2928; }

.btn-secondary {
  background-color: #4A90E2;
  border-radius: 3px;
  border: 1px solid #4A90E2;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2rem; }
  .btn-secondary:hover {
    background-color: #2275d7; }

.btn-tertiary {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #C5C5C5;
  color: #4A90E2;
  display: inline-block;
  padding: 0.75rem 2rem; }
  .btn-tertiary:hover {
    background-color: #4A90E2;
    border-color: #4A90E2;
    color: #fff; }

.btn-quaternary {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #C5C5C5;
  color: #FF5C5B;
  display: inline-block;
  padding: 0.75rem 2rem; }
  .btn-quaternary:hover {
    background-color: #FF5C5B;
    border-color: #FF5C5B;
    color: #fff; }

.btn-wide {
  text-align: center;
  width: 100%; }

.box {
  border: 1px solid #4A90E2; }

.message {
  background: rgba(255, 255, 255, 0.6);
  font-size: 1.25rem;
  left: 0;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2; }

#mapid {
  width: 100%;
  height: 1000px;
  position: relative;
  outline: none;
  z-index: 1; }

.dragdrop {
  border: 1px dashed #C5C5C5; }

.bg-modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  padding-top: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999; }

.hxl {
  font-size: 2.5rem; }

.h1 {
  font-size: 1.5rem; }

.h2 {
  font-size: 1.125rem; }

.text-link {
  color: #4A90E2; }

.text-highlight {
  color: #FF5C5B; }

.text-light {
  color: #aaa; }
